body {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1em;
	justify-items: center;
	font-family: sans-serif;
}

section {
	position: relative;
	display: grid;
	/* Match a4 for printing */
	width: 210mm;
	height: 297mm;
	padding: 2em;
	box-sizing: border-box;
}

/* Temp styling for the "paper look" of the page */
section {
	border: 1px solid black;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: -8px 9px 16px -3px rgba(0, 0, 0, 0.3);
}

section > div {
	box-sizing: border-box;
	border-radius: 1em;
	padding: 0.5em;
	overflow: hidden;
}

/* ============= Headings ============= */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel';
	font-weight: 400;
}

h2 {
	padding: 0.5em 2em;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	margin: 0;
}

h3 {
	margin: 0.5em 0;
	font-size: 1em;
}

h4 {
	font-weight: 600;
	margin: 0.5em 0 0;
}

/* ============= Paragraphs ============= */

p {
	margin: 0.5em 0;
	font-size: 0.75em;
}

/* ============= Images ============= */

.transparent-icon {
	opacity: 0.20;
}

/* ============= Page 1 ============= */

#page1 {
	grid-template-columns: 7fr 4fr;
	grid-gap: 1em 0;
	grid-template-rows: auto;
	grid-template-areas:
	  "portrait items"
	  "persona spells"
	  "persona traits"
	  "alignment traits";
}


/* ------------- Portrait ------------- */

/* --- Border around portrait --- */

#portrait-frame-container {
	grid-area: portrait;
	position: relative;
	overflow: visible;
	padding: 0 1em 1em 0;
}

#portrait-frame-container > img {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-1%);
}

/* --- Portrait picture --- */

#portrait-container {
	display: grid;
	grid-template-columns: auto 6em;
	grid-column-gap: 2em;
	padding: 1em;
	grid-template-areas:
	"portrait stats"
	"title title";
}

#portrait {
	grid-area: portrait;
	object-fit: cover;
	position: relative;
}

/* Portrait fade */
#portrait:before {
	display:block;
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	box-shadow:inset 0px 0px 2em 2em white;
}

#portrait img {
	height: 100mm;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

/* --- Stats --- */

#stats {
	grid: stats;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-row-gap: 0.25em;
	font-size: 0.75em;
	padding: 1em 0;
}

#stats > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#stats img {
	width: 3em;
}

/* --- Title --- */

#title {
	grid-area: title;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.25em;
}

/* ------------- Items ------------- */

#items {
	grid-area: items;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

#items > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#items h2 {
	font-size: 1em;
}

#items img {
	flex: 1;
	width: 50%;
}

/* ------------- Alignment ------------- */

#alignment {
	grid-area: alignment;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-row-gap: 1em;
	justify-items: center;
	align-items: center;
	font-size: 0.75em;
}

#alignment img {
	width: 3em;
}

#alignment .axis-end {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#alignment .horizontal-line {
	width: 100%;
	height: 0;
	border-bottom: 0.2em dashed black;
	opacity: 0.2;
}

/* ------------- Persona ------------- */

#persona {
	grid-area: persona;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto repeat(4, 1fr);
	grid-row-gap: 0.5em;
}

#persona h2 {
	display: flex;
	justify-self: center;
}

/* ------------- Spells ------------- */

#spells {
	grid-area: spells;
}

/* ------------- Traits ------------- */

#traits {
	grid-area: traits;
}

/* ============= Page 2 ============= */

#page2 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1em;
	grid-template-areas:
	"story notebook"
	"inventory inventory";
}

#story {
	grid-area: story;
}

#notebook {
	grid-area: notebook;
}

#inventory {
	grid-area: inventory;
}