<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Character sheet</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen'
		href='https://necolas.github.io/normalize.css/latest/normalize.css'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">
</head>

<body>
	<!-- ============= Page 1 ============= -->
	<section id="page1">
		<div id="portrait-frame-container">
			<img src="assets/portrait-border.png">
			<div id="portrait-container">
				<div id="portrait">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bfedbdb8-325f-4e74-adcc-0f92b0f49cb1/daxb81l-19e8ab8b-5394-4702-bba6-16ff75938e3b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2JmZWRiZGI4LTMyNWYtNGU3NC1hZGNjLTBmOTJiMGY0OWNiMVwvZGF4YjgxbC0xOWU4YWI4Yi01Mzk0LTQ3MDItYmJhNi0xNmZmNzU5MzhlM2IuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.AvHZ89SOyGindVlGDoVq68gwh3mL4XqGPkzvQUVuSbw">
				</div>

				<div id="stats">
					<div>
						<h3>Styrka</h3>
						<img class="transparent-icon" src="assets/strength.svg">
					</div>
					<div>
						<h3>Smidighet</h3>
						<img class="transparent-icon" src="assets/dexterity.svg">
					</div>
					<div>
						<h3>Intelligens</h3>
						<img class="transparent-icon" src="assets/intelligence.svg">
					</div>
					<div>
						<h3>Vishet</h3>
						<img class="transparent-icon" src="assets/wisdom.svg">
					</div>
					<div>
						<h3>Karisma</h3>
						<img class="transparent-icon" src="assets/charisma.svg">
					</div>
				</div>
			</div>

			<div id="title">
				<h2>{{ .Name }}</h2>
				<h3>{{ .Race }} - {{ .Profession }}</h3>
			</div>
		</div>

		<div id="items">
			<div>
				<h2>Vapen</h2>
				<img class="transparent-icon" src="assets/weapon.svg">
			</div>
			<div>
				<h2>Kläder</h2>
				<img class="transparent-icon" src="assets/armor.svg">
			</div>
		</div>

		<div id="persona">
			<h2>Personlighet</h2>
			<div>
				<h4>Personlighetsdrag</h4>
				<p>{{ .PersonalityTraits }}</p>
			</div>
			<div>
				<h4>Drivkraft</h4>
				<p>{{ .DrivingForce }}</p>
			</div>
			<div>
				<h4>Grundpelare</h4>
				<p>{{ .CornerStone }}</p>
			</div>
			<div>
				<h4>Brister</h4>
				<p>{{ .Flaws }}</p>
			</div>
		</div>

		<div id="spells">
			<h2>Förmågor</h2>
			{{- range .Spells }}
			<div class="icon">
				<h4>{{ .Title }}</h4>
				<img src="{{ .IconPath }}">
			</div>
			<p>{{ .Description }}</p>
			{{- end }}
		</div>
	</section>

	<!-- ============= Page 2 ============= -->
	<section id="page2">
		<div id="story">
			<h2>Historia</h2>
			<div>
				<h4>Bakgrund</h4>
				{{- range .Background }}
				<p>{{ . }}</p>
				{{- end }}
			</div>
			<div>
				<h4>Tro</h4>
				<p>{{ .Belief }}</p>
				<h4>Språk</h4>
				<p>{{ .Languages }}</p>
				<div id="traits">
					<h4>Färdigheter</h4>
					<p>{{ .Traits }}</p>
				</div>
				<h4>Förbund</h4>
				<div id="alignment">
					<div class="axis-end">
						<img src="assets/good.svg">
						<div>God</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="axis-end">
						<img src="assets/evil.svg">
						<div>Ond</div>
					</div>
					<div class="axis-end">
						<img src="assets/order.svg">
						<div>Laglydig</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="axis-end">
						<img src="assets/chaos.svg">
						<div>Kaotiskt</div>
					</div>
				</div>
			</div>
		</div>

		<div id="inventory">
			<h2>Packning</h2>
		</div>

		<div id="notebook">
			<h2>Anteckningar</h2>
		</div>
	</section>
</body>

</html>
